@using Microsoft.AspNetCore.Components.Authorization
@page "/logging"
<h3>Logging</h3>
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
        
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>
@code {

}
