@using Blazored.LocalStorage
@using System.Security.Claims
@using WebSite.Providers
@inherits LayoutComponentBase
@inject ILocalStorageService _localStorageService
@inject CustomStateProvider _authProvider


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenComponents />
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var auth = await _localStorageService.GetItemAsync<string>("accessToken");
        //Console.WriteLine($"Токен: {auth}");
        var user = await _authProvider.GetAuthenticationStateAsync();
        //Console.WriteLine($"Авторизован: {user.User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.Name)}, Токен: {auth}");
        if (!string.IsNullOrEmpty(auth) && !user.User.Identity.IsAuthenticated)
        {
            await _authProvider.GetAuthenticationStateAsync();
        }
    }
}
